.CustomNavbar {
    position: fixed;
    padding-right: 7.5%;
    padding-left: 7.5%;
    height: 10vh;

    background: #FFFFFF !important;
    border-bottom: 1px solid #C3C1C1 !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}